#w{font-size: 15vw;}
#e1{font-size: 15vw;}
#l{font-size: 15vw;}
#c{font-size: 15vw;}
#o{font-size: 15vw;}
#m{font-size: 15vw;}
#e2{font-size: 15vw;}
#welcome{text-align: center;}

.modal-content{
    background-color: transparent;
}

.btn-secondary{
    background-color: tomato;
}

.modal-footer{
    border-color: transparent;
}













