#w{
    font-size: 20vw;
}

#e1{
    font-size: 20vw;
}

#l{
    font-size: 20vw;
}

#c{
    font-size: 20vw;
}

#o{
    font-size: 20vw;
}

#m{
    font-size: 20vw;
}

#e2{
    font-size: 20vw;
}

.nav-item{
    border-radius: 10px;;
}

.nav-link{
    color: white;
    font-weight: bold;
}




#welcome{
    margin-left: 5%;
}












